{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="bg-light w-100 text-center">
        <img src="/img/uploads/banner.jpg"/>
        <div class="content">
            <h1><span class="text-warning">Adopte un pote</span> a actuellement récolté <br>{{ totalDonation }} €</h1>
            <div class="donation mt-4">
                <h1 class="mx-2">Vous aussi</h1>
                <button
                    class="btn btn-success text-white btn-lg mx-2 py-0"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                >
                    Faites un don !
                </button>
            </div>
        </div>
    </header>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Je fais un don</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pb-4">
                    {{ form_start(form) }}
                        {{ form_label(form.amount)}}
                        {{ form_widget(form.amount, {attr: {class: "form-control", min: 1, max: 99999}})}}
                        <label for="name">Nom du titulaire de la carte</label>
                        <input type="text" name="name" class="form-control"/>
                        <label for="card-number">Numéro de carte</label>
                        <input type="text" name="card-number" class="form-control"/>
                        <label for="expiration-date">Date d'expiration</label>
                        <input type="month" min="2021-12" name="expiration-date" class="form-control"/>
                        <label for="cvv">CVV</label>
                        <input type="text" name="cvv" class="form-control"/>
                        {{ form_widget(form.Payer, {attr: {class: "form-control btn btn-primay bg-primary text-white mt-3"}})}}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="my-5 text-center">Liste des animaux retrouvés ces 30 derniers jours</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for animal in animals %}
                <a class="a-animal" href={{ path('animal_info', {id: animal.id}) }}>
                    <div class="col">
                        <div class="card">
                            {#
                                Si une image existe dans la bd pour cet animal on affiche l'image sinon
                                On affiche une image par default
                            #}
                            {% if animal.picture %}
                                <div class="card-img">
                                    <img src="{{ asset("img/uploads/" ~ animal.picture) }}" class="card-img-top" alt="animal_picture">
                                </div>
                            {% else %}
                                <img src="/img/default_picture.jpg" class="card-img-top" alt="default_image">
                            {% endif %}
                            <div class="card-body">
                                <div class="div-card-title">
                                    <h5 class="card-title">{{ animal.name }}</h5>
                                    <h6 class="card-title-2">{{ animal.age }} {{ 'ans' | trans }}</h6>
                                </div>

                                <p class="card-text">
                                    {% if animal.description  %}
                                        {{ animal.description }}
                                    {% else %}
                                        {{ "no-desc" | trans }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>



    <style>
    header {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    .donation {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .container {
        margin: 1em auto;
        max-width: 1000px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
    .title {
        text-align: center;
        margin-bottom: 2em;
    }
    .card-title {
        font-weight: bold;
    }
    .modal-body label {
        margin-top: 10px;
    }
    .card {
        height: 100%;
    }
    .a-animal {
        text-decoration: none;
        color: black;
    }
    .card-title-2 {
        margin-left: 10px;
    }
    .div-card-title {
        display: flex;
        align-items: center;
    }
    .card-img {
        height: 315px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .col {
        height: 100%;
    }
    </style>
{% endblock %}
