{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1000px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .title {
            text-align: center;
            margin-bottom: 2em;
        }
        .card-title {
            font-weight: bold;
        }
        .card {
            height: 100%;
        }
        .a-animal {
            text-decoration: none;
            color: black;
        }
        .card-title-2 {
            margin-left: 10px;
        }
        .div-card-title {
            display: flex;
            align-items: center;
        }
        .card-img {
            height: 315px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .col {
            height: 100%;
        }
    </style>

    <div class="example-wrapper">
        <h1 class="title">Dites bonjour à votre futur pote</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for animal in animals %}
                <a class="a-animal" href={{ path('animal_info', {id: animal.id}) }}>
                    <div class="col">
                        <div class="card">
                            {#
                                Si une image existe dans la bd pour cet animal on affiche l'image sinon
                                On affiche une image par default
                            #}
                            {% if animal.picture %}
                                <div class="card-img">
                                    <img src="{{ asset("img/uploads/" ~ animal.picture) }}" class="card-img-top" alt="animal_picture">
                                </div>
                            {% else %}
                                <img src="/img/default_picture.jpg" class="card-img-top" alt="default_image">
                            {% endif %}
                            <div class="card-body">
                                <div class="div-card-title">
                                    <h5 class="card-title">{{ animal.name }}</h5>
                                    <h6 class="card-title-2">{{ animal.age }} {{ 'ans' | trans }}</h6>
                                </div>

                                <p class="card-text">
                                    {% if animal.description  %}
                                        {{ animal.description }}
                                    {% else %}
                                        {{ "no-desc" | trans }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
