{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <h1 class="title">Les meilleurs produits pour nos meilleurs amis</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                <a class="a-product" href={{ path('product_info', {id: product.id}) }} >
                    <div class="col">
                        <div class="card">
                            {#
                                Si une image existe dans la bd pour cet produit on affiche l'image sinon
                                On affiche une image par default
                            #}
                            {% if animal.picture %}
                                <img src="{{ asset("img/uploads/products" ~ product.picture) }}" class="card-img-top" alt="product_picture">
                            {% else %}
                                <img src="/img/missing_product.jpg" class="card-img-top" alt="missing_product">
                            {% endif %}
                            <div class="card-body">
                                <div class="div-card-title">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h6 class="card-title-2">{{ product.price }} {{ 'price' | trans }}</h6>
                                    <h6 class="card-title-2">{{ product.stock }}</h6>
                                </div>

                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </div>