{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 1000px;
            width: 95%;
            font: 10px/1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .title {
            text-align: center;
            margin-bottom: 2em;
        }
        .card-title {
            font-weight: bold;
            margin: 12px;
        }

        .card {
            height: 100%;
        }
        .card-body{

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .card-title-2 {
            margin-left: 10px;
        }
        .card-img {
            height: 315px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
<<<<<<< HEAD
        .button {
            background: #198754;
            border-radius: 28px;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            border-style: none;
        }
        .button:hover {
            background: #1faa69;
        }
=======
        .centrerblock{
            display: flex;
            justify-content: center;

        }

>>>>>>> e99096b5e89fb5edffb8dba2cc5673f466a28477
    </style>

    <div class="example-wrapper">
        <h1 class="title">Les meilleurs produits pour nos meilleurs amis</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
                    <div class="col">
                        <div class="card">
                            {#
                                Si une image existe dans la bd pour cet produit on affiche l'image sinon
                                On affiche une image par default
                            #}
                            {% if product.picture %}
                                <img src="{{ asset("img/uploads/" ~ product.picture) }}" class="card-img-top" alt="product_picture">
                            {% else %}
                                <img src="/img/missing_product.jpg" class="card-img-top" alt="missing_product">
                            {% endif %}
<<<<<<< HEAD
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h6 class="card-title-2">{{ product.price }} {{ 'price' | trans }}</h6>
                                    <button class="button">{{ 'addcart' | trans }}</button>
=======
                            <div class="card-body">
<<<<<<< HEAD
                                <div class="div-card-title centrerblock">
                                    <h5 class="card-title ">{{ product.name }}</h5>
                                    <h6 class="card-title-2 ">{{ product.price }} {{ 'price' | trans }}</h6>
                                </div>

=======
                                <div class="div-card-title">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <h6 class="card-title-2">{{ product.price }} {{ 'price' | trans }}</h6>
                                </div>
>>>>>>> 240ea55260ad20e922504e0ba55bf233bf100d01
                            </div>
>>>>>>> e99096b5e89fb5edffb8dba2cc5673f466a28477
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}